{% extends 'bibliotecaapp/base.html' %}
{% block content %}
    {% for libro in object_list %}
        <article>    
            <p> <strong>Titulo: </strong> {{ libro.titulo }} </p>
            <p><strong>Autor/es: </strong>
                {% for autor in libro.autores.all %}
                    {{ autor.nombre}}{% if not forloop.last %}. {% endif %}
                {% endfor %}
            </p>
            <p><strong>Editorial: </strong> {{libro.editorial}}</p>
            <p> <strong>Fecha de Publicación: </strong> {{ libro.fecha_publicacion }}</p>
            <p> <strong>Genero: </strong> {{ libro.genero }}</p>
            <p> <strong>Resumen: </strong> {{ libro.resumen }}</p>
            {% if libro.portada %}
                <img src="{{ libro.portada.url }}" alt="">
            {% endif %}
            <br><br>
        </article>
    {% endfor %}
{% endblock %}