{% extends 'bibliotecaapp/base.html' %}
{% block content %}
    <div class="container-fluids">
        <div class="row">
            <h1 class="text-center text-decoration-underline">Panel de Control</h1>
            <div class="col-4">
                <article>
                    <h2>Totales de Libros: </h2>
                    <p><strong>NºLibros Prestados: </strong> {{ total_prestado }}</p>
                    <p><strong>NºLibros Disponibles: </strong> {{ total_disponible }}</p>
                </article>
            </div>
            <div class="col-4">
                <article>
                    {% if noDevueltos %}
                        <h2>Libros no devueltos</h2>
                        {% for prestamo in noDevueltos %}
                            <p>El prestamo de {{ prestamo.libro_prestado.titulo }} expiró el {{ prestamo.fecha_devolucion }}</p>
                        {% endfor %}
                    {% else %}
                        <h2>No hay prestamos cuya fecha de devolución se haya excedido</h2>
                    {% endif %}
                </article>
            </div>
            <div class="col-4">
                <article>
                    {% if expiranPronto %}
                        <h2>Préstamos que expiran en menos de una semana</h2>
                        {% for prestamo in expiranPronto %}
                            <h4>{{prestamo.libro_prestado.titulo}}</h4>
                            <p>Plazo de entrega hasta: {{ prestamo.fecha_devolucion }}</p>
                        {% endfor %}
                    {% else %}
                        <h2>No hay préstamos que expiren pronto aún!</h2>
                    {% endif %}
                </article>
            </div>
        </div>
    </div>

    <article>
        <h2>Más Prestados: </h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Portada</th>
                    <th>Libro</th>
                    <th>Prestamos</th>
                    <th>Usuarios</th>
                </tr>
            </thead>
            <tbody>
                {% for lista in lista_mas_prestado %}
                    <tr>
                                <!--Mostrar el primer dato de la fila es el libro y otro td que sea el numero de prestamos que tiene-->
                        <td><img src="{{ lista.0.portada.url }}" alt="{{ lista.0.titulo }}" width="100px"></td>
                        <td><a href="{% url 'details' lista.0.id %}">{{ lista.0.titulo }}</a></td>
                        <td>{{ lista.1 }}</td>
                        {% if lista.1 == 0 %}
                            <td>Aún sin prestamos</td>
                        {% else %}
                            <td>
                            {% for usuario in lista.2 %}
                                {{ usuario }}
                                {% if not forloop.last %}
                                    ,
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}