{% extends 'bibliotecaapp/base.html' %}
{% block content %}
    <h1>Panel de Control</h1>
    <article>
        <h2>Totales de Libros: </h2>
        <p><strong>NºLibros Prestados: </strong> {{ total_prestado }}</p>
        <p><strong>NºLibros Disponibles: </strong> {{ total_disponible }}</p>
    </article>

    {% if noDevueltos %}
        <h2>Libros no devueltos</h2>
        {% for prestamo in noDevueltos %}
            <p>El prestamo de {{ prestamo.libro_prestado.titulo }} expiró el {{ prestamo.fecha_devolucion }}</p>
        {% endfor %}
    {% else %}
        <h2>No hay prestamos cuya fecha de devolución se haya excedido</h2>
    {% endif %}

    {% if expiranPronto %}
        <h2>Préstamos que expiran en menos de una semana</h2>
        {% for prestamo in expiranPronto %}
            <h4>{{prestamo.libro_prestado.titulo}}</h4>
            <p>Plazo de entrega hasta: {{ prestamo.fecha_devolucion }}</p>
        {% endfor %}
    {% else %}
        <h2>No hay préstamos que expiren pronto aún!</h2>
    {% endif %}

    <article>
        <h2>Top de Libros: </h2>
        <ul>
            
        </ul>
    </article>
{% endblock %}