{% extends 'bibliotecaapp/base.html' %}
{% block content %}
    <div class="container">
        <h1 class="text-center text-decoration-underline">Listado Valoración</h1>
        <div class="row">
            <div class="col">
                {% for valoracion in object_list %}
                    <article>    
                        <ul>
                            <li><strong>Usuario: </strong>{{ valoracion.usuario }}</li>
                            <li><strong>Libro: </strong>{{ valoracion.libro.titulo }}</li>
                            <li><strong>Puntuación: </strong>
                                {% for _ in "x"|ljust:valoracion.puntuacion %}
                                    ★
                                {% endfor %}
                            </li>
                            <li><strong>Comentario: </strong>{{ valoracion.comentario }} </li>
                            <li><strong>Fecha: </strong>{{ valoracion.fecha_valoracion }} </li>
                        </ul>
                        <a href="{% url 'update_valoracion' pk=valoracion.pk %}" role="button">Editar</a>
                        <a href="{% url 'delete_valoracion' pk=valoracion.pk %}" role="button">Eliminar</a>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}